html {
  letter-spacing: .01rem;
  font-size: 14px;
}

body {
  margin: 0;
  font-family: "Montserrat", Helvetica,Arial,serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Montserrat",Helvetica,Arial,serif;
}
